.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.imageWrapper {
    position: relative;
    height: 250px;
}

.image {
    object-fit: cover;
}

/* Tablet */
@media (min-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}
